* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.fade-up{
    opacity: 0;
    transform: translateY(30px);
    transition: all .6s;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

/* Navbar */
.navbar {
    background: #1e90ff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    background: linear-gradient(to right, #1e90ff, #00bfff);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

#welcome {
    font-size: 42px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

#subwelcome {
    text-align: center;
    color: #555;
    margin-top: 10px;
}
/* Content */
.content {
    padding: 40px 20px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: #f0f0f0;
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
    font-weight: bold;
}

.card.wali {
    width: fit-content;
    margin: 0 auto;
}

/* Table */
table {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px;
}

table th {
    background: #1e90ff;
    color: white;
    padding: 15px;
}

.fade-jadwal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 8s ease;
}

.fade-jadwal.show {
    opacity: 1;
    transform: translateY(0);
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 25px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.fade-footer {
    opacity: 0;
    transform: translateY(20px);
    transition: all .8s ease;
}

.fade-footer.show {
    opacity: 1;
    transform: translateY();
}

/* galeri */
.fade-galeri {
    opacity: 0;
    transform: translateY(40px);
    transition: all .8s ease;
}

.fade-galeri.show {
    opacity: 1;
    transform: translateY(0);
}

/* gallery zoom pas hover ngab */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minimax(200px,1fr));
    gap: 15px;
}

.gallery img:hover {
    transform: scale(1.08)rotate(1deg);
    box-shadow: 0 13px 30px rgba(0, 0, 0, 0.3);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  z-index: 999;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  background: rgb(0, 0, 0, 0.6);
}

.modal-content {
  max-width: 85%;
  max-height: 85%;
  border-radius: 15px;
  animation: fadeSlide 0.4s ease;
  transition: transform .4s ease,opacity .4s ease;
}

/* ANIMASI */
.modal-content {
  max-width: 85%;
  max-height: 85%;
  border-radius: 15px;
}

/* SLIDE KANAN */
.slide-next {
  animation: slideNext 0.4s ease;
}

@keyframes slideNext {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* SLIDE KIRI */
.slide-prev {
  animation: slidePrev 0.4s ease;
}

@keyframes slidePrev {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.next, .prev {
    transition: tranforms .3s ease, background .3s;
}
.next:hover,.prev:hover{
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.3);
}
/* TOMBOL */
.nav {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transform: translateY(-50%);
}

.prev { left: 30px; }
.next { right: 30px; }

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 10px;
    }
}
